@import '../../../styles/_all-utility-sheets.scss';

$button-color: hsla(62, 49%, 75%, 1);
$button-color-hover: hsla(62, 49%, 65%, 1);
$button-bg: hsla(209, 28%, 16%, 1);
$button-bg-hover: hsla(209, 28%, 21%, 1);

.connect-wallet {
    font-family: $title-font;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    width: 200px;
    height: 64px;
    background-color: $button-bg;
    color: $button-color;
    border: 2px solid $button-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    transition: .33s;
    &:hover {
        cursor: pointer;
        background-color: $button-bg-hover;
        border: 2px solid $button-color-hover;
        color: $button-color-hover;
    }
}

.connect-wallet-text {
    text-shadow: 0 0 1px $button-color;
}

.button-second-row {
    display: block;
}

