
// Common backgrounds
$engi-pack-part-card-bg: hsla(209, 28%, 16%, 1);
$engi-part-inspired-note-element: hsla(209, 28%, 8%, 1);
$engi-part-inspired-note-element-border: hsla(209, 28%, 25%, 1);

// riff of off-white from Web3BnB Logo
$bg: hsla(0,0%,98%,1);
$bg-darker-1: hsla(0,0%,78%,1);

// same as HEX value #dddddd of off-white from Web3BnB Logo
$bg-true: hsla(0,0%,87%,1);
// hex value #5728c6 of purple from Web3BnB Logo
$header-bg: hsla(258,66%,47%,1);
$header-bg-desaturated-1: hsla(258,35%,47%,1);
$header-bg-desaturated-1-2: hsla(258,35%,52%,1);


$header-bg-desaturated-2: hsla(258,15%,57%,1);

$header-bg-desaturated-3: hsla(258,15%,77%,1);



$outSpaceCrayolaGrey: #2E3532;
$outSpaceCrayolaGreyHSLA: hsla(154, 7%, 19%, 1);
$outSpaceCrayolaGreyHSLA-l1: hsla(154, 7%, 29%, 1);
$outSpaceCrayolaGreyHSLA-l2: hsla(154, 7%, 39%, 1);
$brushedBrown: #A37774;
$internationalOrangeEngineer: #B80C09;


$green: hsla(78, 44%, 56%, 1);
$green-hightlight: hsla(78, 44%, 56%, 1);

$blue: hsla(189, 51%, 67%, 1);
$blue-anchor: hsla(189, 51%, 67%, 0.9);
$red: hsla(2, 76%, 58%, 1);

$title-text-color: hsla(145, 7%, 88%, 1);
$title-text-highlight: hsla(217,38%,75%,1);
// close to $header-bg, but darker for improved contrast/readability
$body-text-color: hsla(258, 66%, 41%, 1);

$burger-menu-border: hsla(145, 7%, 80%, 0.1);

$black: #000000;
$grey-1: #21252A;
$grey-2: #343A40;
$grey-3: #495057;
$grey-4: #868E96;
$grey-5: #ADB5BD;
$grey-6: #CFD4DA;
$grey-7: #DEE2E6;
$grey-8: #E9ECEE;
$grey-9: #F1F3F5;
$grey-10: #F8F9FA;
$white: #ffffff;